* {
	margin: 0;
	padding: 0;
	border: 0;
}
@font-face {
	font-family: "MyriadProRegular";
	src: url(../fonts/MyriadProRegular.ttf);
}
@font-face {
	font-family: "whitneyLight";
	src: url(../fonts/whitney-light.ttf);
}
@font-face {
	font-family: "whitneyRegular";
	src: url(../fonts/whitney-regular.ttf);
}
@font-face {
	font-family: "whitneyBold";
	src: url(../fonts/whitney-bold.ttf);
}
@font-face {
	font-family: "calibri-light";
	src: url(../fonts/calibri-light.ttf);
}
html,body{
	height: 100%;
}
body{
	font-size: 16px;
	font-family: 'calibri', 'whitneyRegular', arial;
}
a{text-decoration: none;color:#333;}

img {
  max-width:100%;
}
h1 {
	font-size: 2.2rem;
	font-family: 'calibri';
	font-weight: bold;
	line-height: 1.2;
	margin:0 5px 5px 0;
}
h2{	font-size: 1.35rem;
	font-family: 'calibri';
	line-height: 1.2;
	padding: 5px 0px;
}
h3{
	font-size: 1.25rem;
	font-family: 'calibri';
	line-height: 1.1;
	padding: 5px 0px;
}

h4{
	font-size: 1.15rem;
	font-family: 'calibri';
	line-height: 1.1;
	padding: 5px 0px;
}

.cabecalho {
	height: 175px;
	position: relative;
	margin-bottom: 10px;
}

.conteiner{
	margin: 0 auto;
	display: flex;
}
.logo{
 height: 160px;
 width: 160px;
 margin: 15px;
}

.menu {
	width: 82%;
	height: 160px;
}

.menu-desc {
	height: 70px;
	line-height: 95px;
}

.menu-desc span {
	letter-spacing: 1px;
}

.menu-desc span{
	font-family: 'whitneyRegular';
	font-size: 1.25rem;
}

.menu-nav {
	height: 60px;
	padding-top: 20px;
	margin-top: 10px;
}
.menu-nav ul {
	list-style: none;
}
.menu-nav ul li {
	display: inline;
	padding: 20px 30px 20px 0;
	position: relative;
}
.menu-nav .nav-link{font-family: "whitneyRegular";font-size: 1rem;}
/* MENU */
.menu-nav ul li ul {
	position: absolute;
	top: 90%;
	left: 0;
	display: none;
}
.menu-nav ul li ul > li:hover,.menu-nav > ul a li:hover{background-color: #f1f1f1;}
.menu-nav ul > li:hover{background-color: #fff;}
/* SUB-MENU */
.menu-nav ul li ul li ul {
	position: absolute;
	top: 5%;
	left: 100%;
	display: none;
}

.menu-nav ul li ul {
	border: 1px solid #dbdbdb;
}

.menu-nav ul li ul li {
	border-bottom: 1px solid #dbdbdb;
	display: block;
	padding: 8px 15px;
	width: 220px;
}
/* MENU */
.menu-nav ul li:hover > ul, .menu-nav ul li.over > ul {
	display: block;
	z-index: 1;
	background-color: #fff;
}
/* SUB-MENU */
.menu-nav ul li ul li:hover ul, .menu-nav ul li ul li.over ul{
	display: block;
	z-index: 1;
	background-color: #fff;
}

.menu-nav ul li ul span {
	padding: 0px 15px;
	margin-top: 15px;
	color: #ccc;
	font-family: 'whitneyRegular', calibri;
	font-size: 16px;
	cursor: text;
}
.hr-cabecalho{
	width: 100%;background-color: #3a9842;height: 6px;position: absolute;
}
.hr-cab{width: 100%;height: 6px;position: absolute;}
#hr-line1{background-color: #3a9842;bottom: 5%;}
#hr-line2{background-color: #c6c918;bottom: 0;}
.drop-desc {
	height: 30px;
	padding-top: 5px;
}
.menu-nav ul a,.menu-nav ul {
	text-decoration: none;
	color: #777;
	font-family: 'calibri-light';
	font-size: 18px;
	cursor:pointer;
}
.menu-nav ul li ul a {
	font-size: 16px;
}

main{
	min-height:40%;
	margin: 0 auto;
}
#slideshow{width: 100%;height: 400px;margin:0 auto;position: relative;}
#slideshow>img{width: 100%;height: 100%;position: absolute;}
#slideshow>.btn{position: absolute;width: 50px;height: 50px;border-radius: 25px;top:40%;
cursor:pointer;background: transparent;color: white;font-size: 20px;border:none;}
#slideshow>#btn1:hover{box-shadow: 5px 0 15px 0 white;}
#slideshow>#btn2:hover{box-shadow: -5px 0 15px 0 white;}
#slideshow>#btn2{position: relative;float:right;}
.conteudo{display: flex;justify-content: space-between;}
.conteudo,.destaque-categoria{padding:0.5% 2.5%;}
.destaque-categoria{line-height: 40px;}
.destaque-categoria a{font-size:0.85rem;font-family:"calibri";color:#999;padding-left: 10px;border-left: 1px solid #ddd}
.espacador-not{color:#dbdbdb;border:none;}
.destaque-categoria span{font-size: 1.5rem;padding-right: 10px;font-family:'whitneyBold';}
.hr-small-destaque-categoria,.hr-large-destaque-categoria{color:#333;}
.hr-small-destaque-categoria{width: 5%;border-top: 5px solid #dbdbdb;}
.hr-large-destaque-categoria{width: 70%;border-top: 1px solid #dbdbdb;}

.noticias{height:450px;width:77.1122%;} /* 760px */
	.noticias p{color:#888;font-family: 'calibri';}
	.noticias header,.servicos header{padding: 20px 0;}
	.noticias header a{font-size: 1rem;}
.destaques-noticias{height:70%;width:100%;display:flex;justify-content: space-between;} /* 750px */

.noticias-dt{width:340px;} /* 340px */
	.noticias-dt,.cal-pagamento{height:320px;}
	.noticias-dt a{color:#000;}

.hr-vertical{width: 1px;height: 400px;border-left: 1px solid #dbdbdb;margin-top:35px;}

.pagamento{height:430px;padding-top: 20px;width:18.6%;}
.cal-pagamento{display: flex;flex-direction: row;justify-content: flex-end;height: 100%;}
.pagamento header{height:50px;width: 100%;padding:3% 0%;}
.pagamento span{font-size:1.2rem;color:#c7c7c7;}
.lista-pagamento{width:82.3529411%;}
.lista-pagamento-dia{width:17.64705882%;}
.lista-pagamento li,.lista-pagamento-dia li{font-size:1.15rem;overflow: hidden;}
.lista-pagamento li,.pagamento header,.lista-pagamento-dia li{font-family:'calibri-light';line-height: 155%;}

.services-all{padding: 30px 0;margin: 20px 0 0 0;background-color: #f5f5f5;}
.servicos{margin: 0 auto;}


.beneficios{height: 15%;}
.beneficios-conteiner{max-height:100%;margin: 0 auto;}

.corpo a{
	text-decoration: none;
}

.corpo{
	min-height: 775px;
}

.formulario {
	height: 950px;
}
footer {
	height: 240px;
	background: #1e824c;
	clear: both;
	position: relative;
	bottom: 0;
}

.rodape {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 240px;
	margin: 0 auto;
}
.rodape img{margin-top: 5px;}
.rodape-header{
	height: 50%;
	width: 100%;
}
.rodape-conteudo{
	display: flex;
	width: 100%;		
	height: 50%;
}
.conteudo-local {
	height: 110px;
	width: 49.0625%;
}

.conteudo-local p {
	color: #fff;
	font-family: 'calibri-light';
	font-size: 16px;
	margin-left: 10px;
}
.conteudo-crp{
	margin-right: 10px;
	height: 110px;
	width:9.765625%;
}
.conteudo-contato {
	height: 110px;
	padding-left: 10px;
	width: 32.59375%;
}

.conteudo-logo-governo {
	height: 110px;
	width: 17.578125%;
}

.separador {
	height: 120px;
	width: 2px;
}

main,.conteiner,.servicos,.beneficios-conteiner,.rodape{max-width: 1024px;}
.cabecalho,.menu-desc,.menu-nav,.drop-desc,.conteudo,.destaque-categoria,.noticias header,.servicos header,
.services-all,.beneficios,footer,.conteudo-contato-top{width: 100%;}


@media only screen and (max-width: 1020px){
#slideshow .slides{
 height: 400px;
}
}
@media only screen and (max-width: 922px){
#slideshow,#slideshow .slides{
 height: 350px;
}
}
@media only screen and (max-width: 768px){
#slideshow,#slideshow .slides{
 height: 270px;
}
}
@media only screen and (max-width: 480px){
#slideshow,#slideshow .slides{
 height: 150px;
}
}

@media screen and (max-width:480px) {
html {
font-size: 60%;

}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
html {
font-size: 75%;
}
}
.main-sec{height: auto;width: 100%;}
.conteiner-sec{width: 100%;height: auto;padding: 2.5% 5%;margin-bottom:20px; }
.hr-degrade{margin: 0 auto;width: 90%;height: 5px;background-image: linear-gradient(to right, #ccc, white);}
.hr-pontilhada{height: 1px;border-bottom: 1px solid #ccc;border-style: dashed;}
.conteiner-sec h1,.conteiner-sec h2,.conteiner-sec h3{font-family: "whitneyBold";margin: 1.5% 0;}
.conteiner-sec h1{font-size: 2.2rem;}
.conteiner-sec h2{font-size: 1.8rem;}
.conteiner-sec h3{font-size: 1.5rem;margin: 1% 0;}

.conteiner-sec p{font-family: "whitneyRegular";font-size: 1.25rem;}

