/* external css: flickity.css */
@font-face {
	font-family: calibri-italic;
	src: url(../fonts/calibri-italic.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
height:240px;
width: 100%;
padding-left:7%;
padding-right:4.5%;
}
.gallery-cell {
  background-color: white;
  height: 100%;
  width: 30%;
  margin-left:3.4%;
  padding: 5.8%;
  border-radius:15px;
  text-align: center;
}
.gallery-cell:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.gallery-cell a:hover{color:#fff;}
.gallery-cell img{margin-bottom: 10px;}
.gallery-cell p{font-family:'calibri-italic';font-size: 0.8rem;color:#7b7c7a;text-align: center;}



@media screen and (max-width:480px){
.gallery {
max-height:180px;
width: 75%;
margin:0 auto;
}
}
@media screen and (max-width:480px){
.gallery-cell {
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius:15px;
  margin-left: 50%;
}
}
@media screen and (max-width:480px){
.gallery-cell p{
	font-size: 1.2rem;
	color:#7b7c7a;text-align: center;}
}
}